<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="de.websector.CardIOPGPlugin"
    version="0.1.0">
    <name>CardIOPGPlugin</name>   
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="CardIOPGPlugin">
                <param name="ios-package" value="CardIOPGPlugin" />
            </feature>
        </config-file>
        <js-module src="www/CardIOPGPlugin.js" name="CardIOPGPlugin">
            <clobbers target="myPlugin" />
        </js-module>
        <header-file src="src/ios/CardIOPGPlugin.h" />
	    <source-file src="src/ios/CardIOPGPlugin.m" />
    </platform>
</plugin>
